.custom-alert-box {
  position: absolute;
  top: 0%;
  padding: 4rem;
  font-size: 1.6rem;
  width: max-content;
  color: #ffffff;
  background-color: #58a6eb;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 #58a6eb;
  animation: alert-box 6s ease;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  right: -100%;
}
@keyframes alert-box {
  0% {
    left: -100%;
  }
  40% {
    left: calc(50% - 208px);
  }
  60% {
    left: calc(50% - 208px);
  }
  80% {
    left: calc(50% - 208px);
  }
  100% {
    left: 100%;
  }
}

.alert-del {
  cursor: pointer;
  padding: 1.8rem;
  background: url(https://upload.wikimedia.org/wikipedia/commons/f/f5/Octagon_delete.svg)
    no-repeat;
  border: none;
}

.custom-alert-box-deleted {
  display: none;
}
